.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19F;
}


* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
}

.carousel img {
  display: block;
  height: 200px;
}

@media screen and ( min-width: 768px ) {
  .carousel img {
    height: 400px;
  }
}
a {
	color: #c00;
	text-decoration: none;
}

a:hover {
	color: #d33;
	text-decoration: underline;
}

.page-header {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-color: rgba(0,0,0,.05);
    margin: 0 0 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.animated {
    background-repeat: no-repeat;
    background-position: left top;
    padding-top:95px;
    margin-bottom:60px;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }

 @-webkit-keyframes fadeInLeft {
    0% {
       opacity: 0;
       -webkit-transform: translateX(-100px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateX(0);
    }
 }

 @keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-100px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }

 .fadeInLeft {
 -webkit-animation-name: fadeInLeft;
 animation-name: fadeInLeft;
 }