*{
  margin:0%;
  }

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19F;
}


* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
}

.carousel img {
  display: block;
  height: 200px;
}

@media screen and ( min-width: 768px ) {
  .carousel img {
    height: 400px;
  }
}
a {
	color: #c00;
	text-decoration: none;
}

a:hover {
	color: #d33;
	text-decoration: underline;
}

.page-header {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-color: rgba(0,0,0,.05);
    margin: 0 0 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

::-moz-selection { /* Code for Firefox */
   color: white;
   background: red;
 }
 
 ::selection {
   color: white;
   background: red;
 }

.indexparent {
  display: flex;
}
.map {
  width: 50%;
  margin-right: auto;
  padding-left: 15%;
}
.events {
  flex: 1;
}

