{% extends "layout.html" %}


{% block content %}
{{ super() }}

<div style="display:flex;justify-content:center;align-items:center;">
    <h5>Forms:</h5>
    <ul style="padding-top: 2%;">
        <li><a href="/pdf/TroopProgramResources_Forms.pdf">Planning Forms</a></li>
        <li><a href="/pdf/ABC.pdf">Physical Forms (Part A-C)</a></li>
        <li><a href="/presource">More Planning Resources</a></li>
        <li><a href="/useful">Useful Stuff</a></li>
        <li><a href="/policy">Policy</a></li>
    </ul>
</div>

{% endblock %}  