{% extends "layout.html" %}


{% block content %}
{{ super() }}
<div style="padding-left: 20%;padding-right:5%;padding-top:2%;">

    <h2><u><b>Events</b></u></h2><br>
    <div class="event-page wow animate__animated animate__bounceInLeft">
        {% for event in events %}
            <div class="event-item">
                <h6><u>{{ event['event'] }}</u></h6>
                <p>
                    <i>{{ event['new_date'] }} @ {{ event['time'] }}</i><br>
                    {{ event['desc'] }}
                </p>
            </div>
        {% endfor %}
    </div>
    <div width="75%" style="padding: 5%;" class="event-page wow animate__animated animate__bounceIn">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FLos_Angeles&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%230B8043" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
</div>

{% endblock %}