{% extends "layout.html" %}


{% block content %}
  {{ super() }}
<div class="carousel" data-flickity='{ "cellAlign": "left",
          "contain": true,
          "autoPlay": 3000,
          "pauseAutoPlayOnHover": false,
          "wrapAround": true }'>
    {% for img in image %}
      <img src="{{ img['url'] }}">
    {% endfor %}
</div>

<div style="padding-left: 5%; padding-top: 5%; padding-right: 5%;">
    <h1 class="page-header">Welcome to Troop 305</h1>
    <h2>TO DO ABOUT AND CONTACT</h2>
</div>

<div style="padding-top: 5%; padding-bottom: 5%; text-align: center;"> TODO Upcoming events </div>

<div style="padding-top: 25px; width: 75%; margin-left: auto; margin-right: auto; width: 75%;"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=1420%20South%202nd%20Avenue+(Christ%20Lutheran%20Church)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://www.maps.ie/route-planner.htm">Google Route Planner</a></div>

{% endblock %}
