{% extends "layout.html" %}


{% block content %}
  {{ super() }}
<div class="carousel" data-flickity='{ "cellAlign": "left",
          "contain": true,
          "autoPlay": 3000,
          "pauseAutoPlayOnHover": false,
          "wrapAround": true }'>
    {% for img in image %}
      <img src="{{ img['url'] }}">
    {% endfor %}
</div>

<div style="padding-left: 5%; padding-top: 5%; padding-right: 5%;">
    <h1 class="page-header">Welcome to Troop 305</h1>
    <div class="row">
      <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-about-list" data-toggle="list" href="#list-about" role="tab" aria-controls="about">About</a>
          <a class="list-group-item list-group-item-action" id="list-contact-list" data-toggle="list" href="#list-contact" role="tab" aria-controls="contact">Contact</a>
          <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
          <a class="list-group-item list-group-item-action" id="list-policy-list" data-toggle="list" href="#list-policy" role="tab" aria-controls="policy">Policy</a>
        </div>
      </div>
      <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-about" role="tabpanel" aria-labelledby="list-about-list">{{ indexabout }}</div>
          <div class="tab-pane fade" id="list-contact" role="tabpanel" aria-labelledby="list-contact-list">Contact our Scoutmaster at <a href="mailto:scoutmaster@troop305.com">scoutmaster@troop305.com</a><br>To participate in the Troop 305 EMail mailing list please send an email to <a href="mailto:list@troop305.com?subject=Please%20add%20me%20to%20the%20Troop%20305%20EMail%20mailing%20list">list@troop305.com</a> and your email will be included on the Troop 305 email list.  You can also ask to have your email removed.  To use the list send a message to; "families@troop305.com" to send a message out to the group.</div>
          <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
          <div class="tab-pane fade" id="list-policy" role="tabpanel" aria-labelledby="list-policy-list">...</div>
        </div>
      </div>
    </div>
</div>

<div style="padding-top: 25px; width: 75%; margin-left: auto; margin-right: auto; width: 75%;"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=1420%20South%202nd%20Avenue+(Christ%20Lutheran%20Church)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://www.maps.ie/route-planner.htm">Google Route Planner</a></div>

{% endblock %}
