<!DOCTYPE html>

<!-- https://www.youtube.com/watch?v=kGzwvOFUewY https://www.w3schools.com/howto/howto_js_topnav.asp
https://www.youtube.com/watch?v=gXkqy0b4M5g
https://www.youtube.com/watch?v=9Irz0c-6UGw
http://troop100seattle.com/

-->
<html>

<head>
	{% if title %}
	<title>{{ title }} - Troop 305</title>
	{% else %}
	<title>Welcome to Troop 305</title>
	{% endif %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link href="./static/favicon.ico" rel="icon" type="image/x-icon" />
	<meta name="author" content="Webmaster">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js">
	</script>
	<link rel="stylesheet" href="https://unpkg.com/sweetalert/dist/sweetalert2.min.css">
	<link href="./static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  	<a href="http://www.troop305.com/" style="padding-bottom: 25px;">
  		<img src="./static/BSA.jpg" alt="Home">
    </a>
	<nav class="navbar navbar-expand-lg navbar-light fixed-top">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/events">Events</a>
              </li>
              </li>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/honor">Eagle Honor Roll</a>
              </li>
              </li>
              </li>
              </li>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/resorces">Resources</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/more">More</a>
              </li>
              </li>
            </ul>
          </div>
        </nav>

	{% if get_flashed_messages() %}
		<header>
			<div class="alert alert-primary border text-center" role="alert">
				{{ get_flashed_messages() | join(" ") }}
			</div>
		</header>
	{% endif %}

	<main class="container p-5">
		{% block main %}{% endblock %}
	</main>

	<footer class="small text-center text-muted">
		© Copyright 2009-2020 Troop 305, All rights reserved.
	</footer>
	<script src="./static/script.js"></script>
</body>
 </html>