{% extends "layout.html" %}


{% block content %}
{{ super() }}

<div style="padding-top: 5%; padding-left: 5%;" class="wow animate__animated animate__bounce">
    <div style="margin-left: 40px;"><a href="./pdf/TroopProgramResources.pdf">Troop Program Resources Guide (PDF - 10MB)</a><br>
        <div style="margin-left: 40px;"><a href="./pdf/TroopProgramResources_The_Scoutmasters_Minute.pdf">The Scoutmaster's Minute (PDF)</a><br>
        <a href="./pdf/TroopProgramResources_Games.pdf">Games (PDF)</a><br>
        <a href="./pdf/TroopProgramResources_Ceremonies.pdf">Ceremonies (PDF)</a><br>
        <a href="./pdf/TroopProgramResources_Interfaith_Worship_Service.pdf">Interfaith Worship Service (PDF)</a><br>
        <a href="./pdf/TroopProgramResources_Glossary_Of_Scouting_Terms.pdf">Glossary of Scouting Terms (PDF)</a><br>
        <a href="./pdf/TroopProgramResources_Pearls_Of_Wisdon.pdf">Pearls of Wisdom - Quotes From Baden-Powell (PDF)</a><br>
        <a href="./pdf/TroopProgramResources_Founders_Of_The_BSA.pdf">Founders of the BSA (PDF)</a><br>
        <a href="./pdf/TroopProgramResources_Forms.pdf">Forms (PDF)</a><br>
        <a href="./pdf/TroopProgramResources_Clip_Art.pdf">Clip Art (PDF)</a><br>
        </div>
        <br>
        </div>
        <h5><span style="font-weight: bold;">Troop Program Features - A guide to Troop Program Planning</span></h5><br>
        <div style="margin-left: 40px;"><a href="pdf/TroopProgramFeatures_Yearly_Program_Planning.pdf">Yearly Program Planning Guide (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_Volume-I.pdf">VOLUME I _(PDF)</a><br>
        </div>      
        <div style="margin-left: 80px;"><a href="pdf/TroopProgramFeatures_Aquatics.pdf">Aquatics (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_Athletics.pdf">Athletics (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_Backpacking.pdf">Backpacking (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_Boating_Canoeing.pdf">Boating/Canoeing (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_Business.pdf">Business (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_Camping.pdf">Camping (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_Citizenship.pdf">Citizenship (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_Communications.pdf">Communications (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_Cooking.pdf">Cooking (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_Cultural_Awareness.pdf">Cultrual</a><a href="pdf/TroopProgramFeatures_Cultural_Awareness.pdf"> Awareness (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_Emergency_Preparedness.pdf">Emergency Preparedness (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_Engineering.pdf">Engineering (PDF)</a></div>

        <div style="margin-left: 40px;"><a href="pdf/TroopProgramFeatures_Volume-II.pdf">VOLUME II (PDF)</a><br>
        <div style="margin-left: 40px;"><a href="pdf/TroopProgramFeatures_Environment.pdf">Environment (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_First_Aid.pdf">First Aid (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_Fishing.pdf">Fishing (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_Forestry.pdf">Forestry (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_Health_Care.pdf">Health Care (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_High_Adventure.pdf">High Adventure (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_Hiking.pdf">Hiking (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_Hobbies.pdf">Hobbies (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_Leadership.pdf">Leadership (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_Mechanics.pdf">Mechanics (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_Nature.pdf">Nature (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_Orienteering.pdf">Orienteering (PDF)</a></div>
            <a href="pdf/TroopProgramFeatures_Volume-III.pdf">VOLUME III (PDF)</a><br>
        <div style="margin-left: 40px;"><a href="pdf/TroopProgramFeatures_Physical_Fitness.pdf">Physical Fitness (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_Pioneering.pdf">Pioneering (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_Public_Service.pdf">Public Service (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_Safety.pdf">Safety (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_Science.pdf">Science (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_Shooting.pdf">Shooting (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_Special_Cooking.pdf">Special Cooking (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_Sports.pdf">Sports (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_Tracking.pdf">Tracking (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_Wilderness_Survival.pdf">Wilderness Survival (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_Wildlife_Management.pdf">Wildlife Management (PDF)</a><br>
            <a href="pdf/TroopProgramFeatures_Winter_Camping.pdf">Winter Camping (PDF)</a><br>
        </div>
    </div>
</div>

    {% endblock %}