{% extends "layout.html" %}


{% block content %}
{{ super() }}

<div style="padding-top: 5%; padding-left: 5%;" class="wow animate__animated animate__bounce">
    <h1>Troop 305 Useful Stuff</h1>
    <p>This page contains links to useful information for the troop.</p>
    <h2>Cooking</h2>
    <a href="./pdf/Recipe.pdf">Troop 305 Recipes (PDF)</a><br>
    <a href="./pdf/dutch.pdf">Dutch Oven Cooking (PDF)</a><br>
    <a href="./pdf/DutchOven-Bighorn2010.pdf">Dutch Oven Cooking - Bighorn 2010 (PDF)</a><br>
    <a href="./pdf/DuthOven_Maynard's-Goulash.pdf">Dutch Oven Cooking - Goulash (PDF)</a><br>
    <a href="./pdf/dutchbeg.pdf">Dutch Oven Cooking For Beginners (PDF)</a><br>
    <a href="./pdf/geezer.pdf">The Geezer Cookbook (PDF)</a><br>
    <a href="./pdf/philmont.pdf">The Philmont Country Cookbook (PDF)</a><br>
    <a href="./pdf/risingstar.pdf">Rising Star District Cookbook (PDF)</a><br>
    <a href="./pdf/troop928cookbook.pdf">Troop 928 Cookbook (PDF)</a><br>
    <a href="./pdf/thornhillrecipes.pdf">Thornhill Summit District Recipes(PDF)</a><br>
    <a href="./pdf/thornhilltreats.pdf">Thornhill Summit Treats Recipes (PDF)</a><br>
    <br>
    <strong>Troop 305 - The Menu Plan by Judy McDole</strong><br>
    <a href="./pdf/Troop305_Part1_TheMenuPlan.pdf">The Menu Plan</a><br>
    <a href="./pdf/Troop305_Part2_BreakfastPlan.pdf">Breakfast Plan</a></br>
    <a href="./pdf/Troop305_Part3_DeLunchPlan.pdf">De Lunch</a><br>
    <a href="./pdf/Troop305_Part4_MainMealPlan-Tailgate.pdf">Main Meal Plan</a><br>
    <a href="./pdf/Troop305_Part5_Bread.pdf">Bread</a><br>
    <a href="./pdf/Troop305_Part6_FoilMeals.pdf">Foil Meals</a><br>
    <a href="./pdf/Troop305_Part7_Deserts.pdf">Deserts</a><br>

    <h2>Boy Scout Participation and Achievement</h2>
    <a href="./pdf/nhpawardtrack.pdf">National Honor Patrol Award - Tracking Worksheet (PDF)</a> <a href="http://www.scouting.org/scoutsource/Media/InsigniaGuide/06F.aspx">link</a><br>

    <h2>Lists</h2>
    <a href="http://en.wikipedia.org/wiki/Scout_Outdoor_Essentials#Boy_Scout_Essentials">10 Boy Scout Essentials</a><br>
    <a href="http://www.scouting.org/scoutsource/HealthandSafety/GSS/gss05.aspx#j">First-Aid Kits</a><br>


    <h2>Forms</h2>
    <a href="./pdf/Tour_Planning_Worksheet-BSA_680-014_fillable.pdf">Tour Planning Worksheet (PDF)</a><br>
    <a href="./pdf/Guide_To_Safe_Scouting-BSA_34416.pdf">Guide To Safe Scouting (PDF)</a> - <a href="http://www.scouting.org/scoutsource/HealthandSafety/GSS.aspx">(Online)</a><br>
    <a href="http://www.bmcbsa.org/forms/index.htm">Blue Mountain Council Forms</a><br>

    <h2>Service Patrol</h2>
    <a href="./pdf/Patrol_Names.pdf">Patrol Names (PDF)</a><br>
    <a href="./pdf/Uniform_Inspection_Sheet.pdf">Uniform Inspection Sheet (PDF)</a><br>

    <h2>Activity Folder Blank Files</h2>
    <a href="./pdf/Event_Planning_Guide.pdf">Event Planning Guide (PDF)</a><br>
    <a href="./pdf/Patrol Duty Roster.pdf">Patrol Duty Roster (PDF)</a><br>
    <a href="./pdf/Sign-Ups_TroopCampout.pdf">Sign Up Form - Troop Campout (PDF)</a><br>
    <a href="./pdf/Tour_Planning_Worksheet-BSA_680-014_fillable.pdf">Tour Planning Worksheet (PDF)</a><br>

    <h2>Scout Craft</h2>
    <a href="./pdf/Scout_Craft.pdf">Scout Craft - Complete Document (PDF)</a><br>
    <a href="./pdf/Scout_Craft-Rope.pdf">> Rope (PDF)</a><br>
    <a href="./pdf/Scout_Craft-Cooking.pdf">> Cooking (PDF)</a><br>
    <a href="./pdf/Scout_Craft-Initiative_Games.pdf">> Initiative Games (PDF)</a><br>
    <a href="./pdf/Scout_Craft-Camping.pdf">> Camping (PDF)</a><br>
    <a href="./pdf/Scout_Craft-Miscellaneous.pdf">> Miscellaneous (PDF)</a><br>

    <h2>Other Stuff</h2>
    <a href="http://www.animatedknots.com/indexscouting.php?LogoImage=LogoGrog.jpg&Website=www.animatedknots.com">Animated Knots</a><br>
    <a href="./pdf/Homemade_Equipment.pdf">Homemade Equipment (PDF)</a><br>
    <a href="./pdf/Reimbursement_Request.pdf">Reimbursement Request (PDF)</a><br>
    <a href="./pdf/Record_Of_Food_Receipts.pdf">Record of Food Receipts (PDF)</a><br>
    <a href="./pdf/Menu_Plan-Duty_Roster.pdf">Menu Plan - Duty Roster (PDF)</a><br>
    <a href="./pdf/Snow Camp Pack List.pdf">Snow Camp Pack List (PDF)</a><br>

    <h2>Eagle Scout Resources</h2>
    <a href="http://www.scouting.org/scoutsource/boyscouts/advancementandawards/eagleworkbookprocedures.aspx">Eagle Scout Service Project Workbook</a><br>
    <a href="http://scouting.org/filestore/pdf/512-728_web.pdf">Eagle Scout Rank Application (PDF)</a><br>

    <h2>Winter Camp Resources</h2>
    <a href="./pdf/WinterOutdoorExperience-2012.pdf">Winter Outdoor Experience 2012 (PDF)</a><br>
    <a href="./pdf/WinterOutdoorExperience_Checklist-2012.pdf">Winter Outdoor Experience 2012 - Checklist (PDF)</a><br>
    <a href="./pdf/WinterCamping-BSA_ProgramHelps.pdf">BSA Program Helps - Winter Camping (PDF)</a><br>
    <a href="./pdf/WinterCampTraining-Handout.pdf">Winter Camp Training - Handout (PDF)</a><br>
    <a href="./pdf/WinterCampTraining-Equipment_List.pdf">Winter Camp Training - Eqiupment List (PDF)</a><br>
    <a href="./pdf/WinterCampTraining-Klondike_Sledge.pdf">Winter Camp Training - Klondike Sledge Plans (PDF)</a><br>
    <a href="./pdf/WinterCampTraining-Supplement.pdf">Winter Camp Training - Supplement (PDF)</a><br>
    <a href="./pdf/Winter Outdoor Training - Shelter - DLS.ppt">Winter Outdoor Training - Shelter (PPTX)</a><br>
    <a href="./video/HOW TO BUILD A SNOW SHELTER - YouTube [360p].mp4">How to build a snow shelter (video)</a><br>
    <a href="./video/OKPIK.m4v">OKPIK (video)</a><br>
    <br>
    <strong>United States Antartic Program - Website and Field Manual</strong><br>
    <a href="./pdf/USAPFieldManual.pdf">USAP Field Manual (PDF)</a><br>
    <a href="http://www.usap.gov/travelAndDeployment/contentHandler.cfm?id=540">USAP Website</a><br>

    <h2>First Aid Resources</h2>
    <a href="http://www.scouting.org/scoutsource/HealthandSafety/GSS/gss05.aspx#j">First-Aid Kit</a><br>
    <a href="http://www.heart.org/HEARTORG/CPRAndECC/HandsOnlyCPR/Hands-Only-CPR_UCM_440559_SubHomePage.jsp">Hands-Only CPR Instructional Video - American Heart Association</a><br>
    <a href="http://www.heart.org/idc/groups/heart-public/@wcm/@ecc/documents/downloadable/ucm_441302.pdf">Hands-Only CPR Fact Sheet - American Heart Association</a><br>
    <a href="http://www.youtube.com/watch?v=A3b9gOtQoq4">Bee Gees - Stayin' Alive (Music Video)</a><br>
</div>

    {% endblock %}