{% extends "layout.html" %}


{% block content %}
  {{ super() }}

<div style="text-align:center; padding-top: 5%;">
    <h2>Welcome, Webmaster!</h2>
    <h5>The following are links to edit the Calender, Events, Images, and More. Be careful, as any changes made are permanent!<br>
      To get back to this page, click on "Webmaster Home", next to the email login tab on the navbar.
    </h5><br>
    <a href="/upload">Upload Images</a><br>
    <a href="/imgdel">Delete Images</a><br>
    <a href="/editevent">Edit Events</a><br>
    <a href="/caledit">Edit Calender</a><br>
    <a href="/hra">Add Honor Roll</a><br>
    <a href="/text">Edit Text on the Website</a><br>
    <a href="/newsedit">Edit News on the Website</a><br>
    <a href="/logout">Log Out</a><br>
</div>
{% endblock %}